<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<p class="fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quibusdam nobis quia laboriosam, officiis maxime consequuntur exercitationem. Magnam nesciunt ea esse officia? Fuga, facere iusto totam porro debitis vero quae.</p>