<h1>Héroes de Marvel y DC</h1>

<div class="cards-decks row">
  <!--  -->
  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index;"
                     class="card col-12 col-md-3 col-xl-4 animated fadeIn fast">

  </app-heroe-tarjeta>
</div>