<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" alt="">
    Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active mayusculas">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active mayusculas">
        <a class="nav-link" [routerLink]="['/heroes']">Heroes</a>
      </li>
      <li class="nav-item" routerLinkActive="active mayusculas">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar Héroe" #buscarTexto (keyup.enter)="buscarHeroe(buscarTexto.value)" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"
              (click)="buscarHeroe(buscarTexto.value)"
              type="button">Search</button>
    </form>
  </div>
</nav>
