<h1>Héroes de Marvel y DC</h1>

<div class="row animated fadeIn fast" *ngIf=" heroes.length == 0 ">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No exiten resultados con el término {{ termino }}
    </div>
  </div>
</div>

<div class="cards-decks row">

  <app-heroe-tarjeta [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index;"
                     class="card col-12 col-md-3 col-xl-4 animated fadeIn fast">
  </app-heroe-tarjeta>

  <!-- <div class="card col-12 col-md-3 col-xl-4 animated fadeIn fast" *ngFor="let heroe of heroes; let i = index;">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-block">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
      <button (click)="verHeroe(i)" class="btn btn-block btn-outline-primary">Ver más</button>
    </div>
  </div> -->
</div>